p.dotted {border-style: dotted;}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.thumbnail {
  float: right;
  width: 125px;
  height: 125px;
  margin: 10px;
}
#rcorner {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 150px;
  height: 150px;  
}